
services:
  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:${ELASTIC_VERSION:-9.2.3}
    container_name: elasticsearch
    environment:
      - node.name=es01
      - discovery.type=single-node
      - cluster.name=docker-cluster
      - "ELASTIC_PASSWORD=${ELASTIC_PASSWORD:-changeme}"
      - "xpack.security.enabled=true"
      - "ES_JAVA_OPTS=-Xms1g -Xmx1g"
    ports:
      - "9200:9200"
      - "9300:9300"
    volumes:
      - esdata:/usr/share/elasticsearch/data
    healthcheck:
      test: ["CMD-SHELL", "curl -u elastic:$ELASTIC_PASSWORD -fsSL http://localhost:9200/_cluster/health || exit 1"]
      interval: 10s
      timeout: 10s
      retries: 10

  kibana:
    image: docker.elastic.co/kibana/kibana:${ELASTIC_VERSION:-9.2.3}
    container_name: kibana
    environment:
      - ELASTICSEARCH_HOSTS=http://elasticsearch:9200
      - ELASTICSEARCH_USERNAME=kibana_system
      - ELASTICSEARCH_PASSWORD=${KIBANA_SYSTEM_PASSWORD}
    ports:
      - "5601:5601"
    depends_on:
      elasticsearch:
        condition: service_healthy

  apm-server:
    image: docker.elastic.co/apm/apm-server:${ELASTIC_VERSION:-9.2.3}
    container_name: apm-server
    volumes:
      - ./config/apm-server.yml:/usr/share/apm-server/apm-server.yml:ro
    ports:
      - "8200:8200"
    depends_on:
      - elasticsearch
      - kibana
    environment:
      - ELASTIC_PASSWORD=${ELASTIC_PASSWORD:-changeme}
    command: ["-e","-c","/usr/share/apm-server/apm-server.yml"]

  logstash:
    image: docker.elastic.co/logstash/logstash:${ELASTIC_VERSION:-9.2.3}
    container_name: logstash
    ports:
      - "5044:5044"
    volumes:
      - ./logstash/pipelines:/usr/share/logstash/pipeline:ro
    depends_on:
      - elasticsearch

volumes:
  esdata:
    driver: local

networks:
  default:
    name: elk-net
    driver: bridge
